
<div class="container">
  <div class="row">
    <form>
        <div class="form-group">
          <label for="taskname">Task</label>
          <input type="text" class="form-control" id="taskname" placeholder="Enter task" name="taskname" [(ngModel)]="taskname">
        </div>
        <button type="submit" class="btn btn-primary mt-3" (click)="addNewTask()">Submit</button>
      </form>
  </div>
  <div class="row mt-3">
    <ul class="list-group" *ngFor="let task of tasksList">
        <li class="list-group-item">{{task.name}}</li> 
          <span>
            <button class="btn btn-primary mr-3" type="button" (click)="call(task)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
            <button class="btn btn-primary ml-3" (click)="deleteTask(task)">Delete</button>
          </span>
    </ul>
  </div>


  
 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="taskname">Task</label>
                <input type="text" class="form-control" id="taskname" placeholder="Enter task" name="taskname" [(ngModel)]="editTaskname">
              </div>
              <button type="submit" class="btn btn-primary mt-3" data-bs-dismiss="modal" (click)="editTask()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>